AuthType WebAuth
Require user yymao
<FilesMatch "(index|taste-tea|arxiv-discovery|arxiv-name|find-someone|subscribe)(\.(html|py))?">
Allow from all
Satisfy Any
</FilesMatch>
<Files members.py>
Require user yymao jderose
</Files>
